# Node modules
node_modules/
.env

package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Optional: coverage reports
coverage/

# Optional: production build
/dist

# Optional: local env files
.env.*.local
